sudo: false
language: ruby

rvm:
  - 2.3

env:
  global:
  - COVERAGE=1

services:
  - memcached
  - redis
  - rabbitmq

addons:
  postgresql: 9.3

cache:
  - bundler

before_install:
  - bundle config https://gems.contribsys.com/ $BUNDLE_GEMS__CONTRIBSYS__COM

before_script:
  - bundle exec rake db:create --trace

script:
  - bundle exec rspec
