language: ruby
rvm:
  - jruby-19mode
jdk: openjdk7
services:
  - redis
before_script:
  - 'RAILS_ENV=test rake db:create db:schema:load --trace'
script: ./build.sh
notifications:
  irc: "irc.freenode.org#travis"
